<template>



  <div class="row">
    <div class="col-lg-10 m-auto">
      <div  v-if="usertypechecker === 'teacher'">
        <card :title="$t('home')">
          <v-container>
          <v-row>
            <v-col xs="12" sm="12" md="6" lg="6">
              <v-btn block :to="{ name : 'add'}">Add Books</v-btn>
            </v-col>
            <v-col xs="12" sm="12" md="6" lg="6">
              <v-btn block :to="{ name : 'assignbooks'}">Asign Books</v-btn>
            </v-col>
          </v-row>
          </v-container>

          <template>
            <v-text-field
              v-model.lazy="search"
              append-icon="mdi-magnify"
              label="Search Name"
              single-line
              hide-details
              @input="searchfunc"
            ></v-text-field>

            <v-data-table v-model="selected"
              hide-default-footer
              :headers="headers"
              :items="list"
              :single-select="singleSelect"
              item-key="id"
              class="elevation-1"
              show-select
              >
            </v-data-table>
            <div class="text-center pt-2">
            <v-pagination v-model="page" :length="pageCount" :total-visible="itemsPerPage" @input="onPageChange"></v-pagination>
            </div>
          </template>
        </card>




        <template>
              
        <div align="right" v-if="selected.length > 0">


        <!-- modal edit -->
        <template>
          <div >
            <v-dialog v-model="dialogedit" width="500">
              <v-card >

                <v-card-title class="text-h5 grey lighten-2">
                  EDIT
                </v-card-title>
                <v-card  style="margin: 10px;padding: 10px">
                    <form>
                      <v-text-field
                        v-model="user.edit.name"
                        label="Name"
                      ></v-text-field>
                      <v-text-field
                        v-model="user.edit.email"
                        label="E-mail"
                      ></v-text-field>
                    </form>
                  
                </v-card>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn color="error" @click="clear">Clear</v-btn>
                  <v-btn color="primary" @click="submitedit">Submit</v-btn>
                </v-card-actions>
                
              </v-card>
             <template v-slot:activator="{ on, attrs }"  >
                    
                    <v-btn color="normal" elevation="2" large v-bind="attrs" v-on="on" @click="btnedit">EDIT</v-btn>
                
            </template>
            <template>
                   <v-alert v-model="alert"
                   :type="alerttype"
                    >
                    {{alerttext}}
                    </v-alert>
            </template>
            </v-dialog>
            <v-btn color="secondary" elevation="2" large @click="btnview">VIEW</v-btn>
            <v-btn color="error" elevation="2" large @click="btndelete">DELETE</v-btn>
          </div>

        </template>
        <!-- modal edit end -->





                   
        </div>
        <div align="right" v-else>











        <!-- modal add -->
        <template>
          <div >
            <v-dialog v-model="dialogadd" width="500">
              <v-card >

                <v-card-title class="text-h5 grey lighten-2">
                  ADD
                </v-card-title>
                <v-card  style="margin: 10px;padding: 10px">
                    <form>
                      <v-text-field
                        v-model="user.add.name"
                        label="Name"
                      ></v-text-field>
                      <v-text-field
                        v-model="user.add.email"
                        label="E-mail"
                      ></v-text-field>
                       <v-text-field
                        v-model="user.add.pass"
                        label="Password"
                        type="password"  
                      ></v-text-field>
                        <v-select
                          v-model="user.add.usertype"
                          :items="items"
                          label="User Type"
                      ></v-select>
                    </form>
                  
                </v-card>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn color="error" @click="clear">Clear</v-btn>
                  <v-btn color="primary" @click="submitadd">Submit</v-btn>
                </v-card-actions>
                
              </v-card>
              <template v-slot:activator="{ on, attrs }"  >
                      
                      
                      <v-btn color="primary" elevation="2" large v-bind="attrs" v-on="on"
                      @click="clear">ADD</v-btn>

                  
              </template>
            <template>
                   <v-alert v-model="alert"
                   :type="alerttype"
                    >
                    {{alerttext}}
                    </v-alert>
            </template>
            </v-dialog>
            
          </div>

        </template>
        <!-- modal add end -->
                 
                  
        </div>
        </template>
      </div>


      <div v-else>
        <card :title="$t('My Books')">
        </card>
      </div>

    </div>
  </div>
















</template>
<script>
// import axios from 'axios'
export default {
  async beforeRouteEnter(to, from, next){
  var d
  var data
  var usertype
  await axios.get('https://diwatest.test/api/user')
    .then(res=>{
      data = res.data.usertype
      usertype = data
    })
  await axios.post('api/user/list/view?page='+1)
    .then(res=>{
      var x = res.data
      d = x.data
    })
    next(v=>{
      v.list = d.data
      v.itemsPerPage = d.per_page
      v.page = d.current_page
      v.pageCount = d.last_page
      v.usertypechecker = usertype
      
    })
  },
  data () {
      return {
        usertypechecker:'',
        items: [
        {
            text : 'Teacher',
            value : 'Teacher'
        },
        {
            text : 'Student',
            value : 'student'
        },

        ],
        user:{
          add:{
            name: null,
            email: null,
            pass: null,
            usertype:null,
          },
          edit:{
            id:null,
            name: null,
            email: null,
          }
          
        },
        search:null,
        page: 1,
        pageCount: 0,
        itemsPerPage: 1,
        singleSelect: true,
        dialogadd:false,
        dialogedit:false,
        alert:false,
        alerttype:null,
        alerttext:[],
        alerttype:null,
        selected: [],
        headers: [
          {
            text: 'Name',
            align: 'start',
            sortable: false,
            value: 'name',
          },
          { text: 'EMAIL', value: 'email' },
          { text: 'USER TYPE', value: 'usertype' },
        ],
        
        list: [],
      }
    },
  middleware: 'auth',
  // watch:{
  //   status(val){
  //     console.log(val)
  //     this.usertypechecker = val
  //   }
  // },
  methods : {
    async btnassignbooks(){},
    async btnaddbooks(){
      $router.push({ name: "add"})
    },
    async clear() {
        this.user.edit.name=''
        this.user.edit.email=''
        this.user.add.name=''
        this.user.add.email=''
        this.user.add.pass=''
        this.alert=false
    },
    async btndelete(){
      // console.log(this.selected)
      await axios.post('api/user/function/remove',this.selected)
      .then(res=>{
        this.selected = "";
        this.reloadlist()
        var alertext = (res.data.data+" "+res.data.message)
        Swal.fire(
          'Deleted!',
          alertext,
          'success'
        )

      })
    },
    async btnedit(){
      this.clear()
      this.user.edit.email = this.selected[0]['email']
      this.user.edit.name = this.selected[0]['name']
      this.user.edit.id = this.selected[0]['id']
    },
    async submitedit(){
      await axios.post('api/user/function/edit',this.user.edit)
      .then(res=>{
        this.clear()
        console.log(res.data)
        alert(res.data.data+" "+res.data.message)
        this.dialogedit=false
        this.reloadlist()
      })
      .catch(err=>{
        // this.alert=true
        // this.alerttype='error'
        var x= err.response.data.errors
        var al = [x.name,x.email]
        var alerttext = al.toString().replace(/,/g,"")

        Swal.fire(
          'Error!',
          alerttext,
          'error'
        )
      })
      // this.alerttype='success'
    },
    async submitadd(){
      await axios.post('api/user/function/new',this.user.add)
      .then(res=>{
          this.clear()
          // this.alert=true
          // this.alerttype='success'
          var alerttext =res.data.message
          Swal.fire(
            alerttext,
            '',
            'success'
          )
          this.reloadlist()
      })
      .catch(err=>{
        var x= err.response.data.errors
        var al = [x.name,x.email,x.pass]
        var alerttext = al.toString().replace(/,/g,"")

        Swal.fire(
          'Error!',
          alerttext,
          'error'
        )
        // this.alert=true
        // this.alerttype='error'
        
      });
    },
    async onPageChange(){
      this.reloadlist()
    },
    async reloadlist(){
      await axios.post('api/user/list/view?page='+this.page)
      .then(res=>{
        var d = res.data
        this.list =d.data.data
        this.itemsPerPage = d.data.per_page
        this.page = d.data.current_page
        this.pageCount = d.data.last_page
      })
    },  
    async searchfunc(){
      await axios.post('api/user/list/view?page='+this.page+'&search='+this.search)
      .then(res=>{
        var d = res.data.data
        this.list =d.data
        this.itemsPerPage = d.per_page
        this.page = d.current_page
        this.pageCount = d.last_page
      })
    },
    async btnview(){
      await axios.post('api/user/function/view',this.selected)
      .then(res=>{
        var d = res.data
        var date = d.data[0]['created_at']
        var view = 'Name: '+d.data[0]['name']+'\r\n Email: '+d.data[0]['email']+'\r\n Created: '+date.slice(0,10)
        Swal.fire(
          view,
          '',
          'info'
        )
      })
    },
  },

  // async asyncData () {
  //   const { data: projects } = await axios.get('/api/projects')

  //   return {
  //     projects
  //   }
  // },

  metaInfo () {
    return { title: this.$t('home') }
    
  }
}
</script>
