<template>
	<div class="row">
    <div class="col-lg-10 m-auto">
      <card :title="$t('Add')">



          <v-form>
            <v-container>
              <v-row>
                <v-col
                  xs="12" sm="12" md="6" lg="5" xl="5"
                >
                  <v-text-field
                    v-model="book.title"
                    label="Title"
                  ></v-text-field>
                </v-col>
                <v-col
                  xs="12" sm="12" md="6" lg="5" xl="5"
                >
                 <v-text-field
                    v-model="book.description"
                    label="descrition"
                  ></v-text-field>
                </v-col>
                <v-col xs="12" sm="12" md="12" lg="2" xl="2">
                  <v-btn
                    @click="submitbtn"
                    block
                    elevation="3"
                    small
                    tile
                  >Submit</v-btn>
                  <br>
                  <v-btn
                    :to="{ name : 'home'}"
                    block
                    elevation="3"
                    small
                    tile
                  >Back</v-btn>
                </v-col>
                <!-- <v-col xs="12" sm="12" md="12" lg="2" xl="2">
                  
                </v-col> -->
              </v-row>
            </v-container>
          </v-form>
      


      </card>
      <card>
        <div v-for="item in list" :key="item.id" class="card">
          <v-card-title class="card-header d-flex mb-6">
              <div class="mr-auto">
              Book Title : {{item.title}}
              </div>
              <div>
              <v-btn fab x-small text @click="editbookbtn(item.id,item.title,item.description)" attr><v-icon>mdi-pencil</v-icon></v-btn>
              <v-btn fab x-small text @click="deletebookbtn(item.id,item.title)"><v-icon>mdi-delete</v-icon></v-btn>
              </div>

          </v-card-title>
          <v-card-text class="card-body">Description: {{item.description}}</v-card-text>
        </div>
      </card>
    </div>






<div v-if="dialog === true">
  <template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          <v-text-field
            v-model="editbook.title"
            label="Title"
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-text-field
            v-model="editbook.description"
            label="Description"
          ></v-text-field>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="savebook"

          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
</div>















  </div>





</template>


<script>
  export default{
    async beforeRouteEnter(to, from, next){
      var d
      await axios.get('api/diwa/booklist')
        .then(res=>{
          d = res.data
        })
        next(v=>{
            // console.log(v)
          v.list = d.payload
        })
    },
    metaInfo () {
      return { 
        title: this.$t('home')
       }
    },
    data(){
      return{
        editbook:{
          id:'',
          title:'',
          description:''
        },
        book:{
          title:'',
          description:''
        },
        book:{
          title:'',
          description:''
        },
        dialog:false,
        list:[],

      }
    },
    methods : {
      async refresh(){
        await axios.get('api/diwa/booklist')
        .then(res=>{
          this.list = res.data.payload
        })
      },
      async editbookbtn(id,title,description){
        this.dialog = true
        this.editbook.id = id
        this.editbook.title = title
        this.editbook.description = description
      },
      async savebook(){
        await axios.post('api/diwa/edit',this.editbook)
        .then(res=>{
          Swal.fire({
            title:'Edited',
            icon: 'success',
            confirmButtonText: 'Ok',
            text: res.data.message
          })
          this.dialog = false
          this.refresh()
        })
        .catch(err=>{
          var x= err.response.data.errors
          var al = [x.title,x.description]
          var alerttext = al.toString().replace(/,/g,"")

          Swal.fire(
            'Error!',
            alerttext,
            'error'
          )
        })
      },
      async deletebookbtn(id,title){
        console.log(id+title)
        const { value: confirm } = await Swal.fire({
            title:'Delete',
            icon: 'warning',
            confirmButtonText: 'Ok',
            text: 'are you sure you want to delete '+title+'?'
          })
        if (confirm) {
          await axios.post('api/diwa/destroy?id='+id)
          .then(res=>{
            Swal.fire({
              title:'Deleted',
              icon: 'success',
              confirmButtonText: 'Ok',
              text: title+' was deleted successfully!'
            })
          })
          this.refresh()
        }
      },
      async clear(){
        this.book.title = ''
        this.book.description = ''
      },
      async submitbtn(){
      await axios.post('api/diwa/add',this.book)
        .then(res=>{
          Swal.fire({
            title: this.book.title,
            icon: 'success',
            confirmButtonText: 'Ok',
            text: res.data.message
          })
          this.clear()           
        })
        .catch(err=>{
          var x= err.response.data.errors
          var al = [x.title,x.description]
          var alerttext = al.toString().replace(/,/g,"")

          Swal.fire(
            'Error!',
            alerttext,
            'error'
          )
          // this.alert=true
          // this.alerttype='error'
          
        });
      },
    }
  }

</script>