<template>
	<div class="row">
    <div class="col-lg-10 m-auto">
      <card :title="$t('Assign Books')">{{remarks}}
      



      </card>
    </div>
  </div>
</template>



<script>
  export default{
    // async beforeRouteEnter(to, from, next){
    
    // },
    metaInfo () {
      return { 
        title: this.$t('home')
       }
    },
    data(){
      return{
        remarks:'',
        rules: {
          required: value => !!value || 'Required.',
          counter: value => value.length <= 20 || 'Max 20 characters',
        },
      }
    },
    methods : {
      
    }
  }

</script>